   html {
      padding-top: 20px;
   }  

/* navigatie*/
#Picca {
    width: 200px;
    height: auto;
    float: left;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

nav {
    margin-left: auto;
}

nav ul {
    list-style: none;
}
/* navigatie*/

/* banner*/

#banner {
    border: 1px solid #ccc;
    height: 280px;
    position: relative;
}

#banner p{
    position: absolute;  
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
}

/* banner*/

/* main*/
main {
    margin-left: 60px;
    margin-right: auto;
    padding: 60px 40px;
    display: flex;
}


/* main*/

* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    gap: 20px;
}

/* aside*/
aside {
  width: 30%;
  padding: 20px;
}
/* aside*/


/* content*/

#content {
  width: 70%;
  padding: 20px;
}
/* content*/

.fotos {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

/* general*/
html{
    padding-top: 20px;
}
body{
    margin: 0 auto;
    max-width: 960px;
}
/* gebral*/

/* footer*/
footer{
    padding: 20px;
}
/* footer*/
