/**
 *
 * Common styles
 *
 * @author !put your name here!
 *
 */

/* ===========================================
   General
   =========================================== */

/* html, body and general element styles here */
/* ... */


/* ===========================================
   Menu
   =========================================== */
nav{
   color: white;
}

a:hover{
   color: red;
}
/* menu styles here */
/* ... */



/* ===========================================
   Banner
   =========================================== */
banner{
   
}
/* banner styles here */
/* ... */



/* ===========================================
   Main
   =========================================== */
main{

}
/* main styles here */
/* ... */


/* ===========================================
   Footer
   =========================================== */
footer{
   
}
/* footer styles here */
/* ... */
