/**
 *
 * Common styles
 *
 * @author !put your name here!
 *Elias Sossah
 */

/* ===========================================
   General
   =========================================== */

menu,
body {
   margin: 0;
   padding: 0;
   background-color: #747272;
}

body {
   font-family: 'Roboto', sans-serif;
   font-size: 13px;
   line-height: 1.8;
   max-width: 960px;
   margin: 0 auto;
   border-radius: 15px 15px 0 0;
   background-color: white;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body p,
li {
   color: #333;
}

a {
   color: B52025;
   text-decoration: none;
   transition: color 0, 3s;
}

a:hover {
   text-decoration: underline;
}

/*===========================================
   Menu
   =========================================== */
header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px 30px;
}

nav ul {
   list-style: none;
   display: flex;
   margin: 0;
   padding: 0;
   gap: 20px;
}

nav a {
   color: #B52025;
   text-decoration: none;
   font-weight: bold;
   padding: 8px 12px;
   /* klikbare ruimte vergroten */
   border-radius: 5px;
   /* afgeronde hoeken */
   transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
   background-color: #B52025;
   color: white;
}

/* ===========================================
   Banner
   =========================================== */
#banner {
   position: relative;
   /* maakt het mogelijk om tekst boven de foto te zetten */
   border: #B52025 5px solid;
   height: 280px;
   overflow: hidden;
   /* zorgt ervoor dat de afbeelding niet buiten de banner komt */
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#banner img {
   width: 100%;
   height: auto;
   object-fit: cover;
   /* zorgt ervoor dat de afbeelding de hele banner vult */

}

#banner p {
   position: absolute;
   /* Plaats de tekst boven de afbeelding */
   bottom: 0;
   left: 0;
   right: 0;
   padding: 15px;
   background-color: rgba(0, 0, 0, 0.5);
   /* Transparante zwarte achtergrond */
   color: white;
   font-size: auto;
}

/* ===========================================
   Main
   =========================================== */
main {
   display: flex;
   justify-content: space-between;
   text-align: justify;
}

#content {
   width: 70%;
}
aside {
   width: 25%;
}

.minibanner {
   border: 1px solid;
}

h1,
h2,
h3 {
   color: #B52025;
   margin-top: 0;
   font-family: 'Roboto', sans-serif;
   list-style: none;
   margin-bottom: 15px;
   font-size: 1.2em;
}
h1, h2, h3 ::after{
content: "▶ ";           
  color: #B52025;
}

.more{
   display: block;
   width: fit-content;
   margin-left: auto;
   padding: 10px 20px;
   border: #B52025 2px solid;
   border-radius: 10px;
   color: #B52025;
   text-align: center;
   transition: background-color 0.3s, color 0.3s;
   list-style: none;
   font-size: 1em;
   font-weight: bold;
}

.more:hover {
   background-color: #FDEAEB; 
   border-color: #FDEAEB;
   color: #B52025;
   text-decoration: none;
   border: #B52025 2px solid;

.more:after
{
content: " ▶";           
color: #B52025;
}


.button{
border: none;
  color: white;
  background-color: #B52025;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}
#button:hover {
  background-color: #FDEAEB;
  color: #B52025;
}

#email{
   background-color: #B52025;
   b
}
/* ===========================================
   Footer
   =========================================== */
footer p {
   text-align: center;
   padding: 15px;
   font-size: 0.9em;
   color: #777;
}
