/* stylelint-disable no-duplicate-selectors */

/* deel 1: start CSS */

* {
   margin: 0;
   padding: 0;
}

html {
   background-color: #fff;
}

body {
   border: 10px solid white;
   height: 600px;
   margin: 20px auto;
   max-width: 300px;
   padding: 40px 100px;
   background-image:url(img_tile.png);
   background-repeat: repeat;
}

h1 {
   margin-top: 30px;
}

main {
   padding-top: 30px; 
}

mark {
   background-color: transparent;
   color: red;
}

footer {
   margin-top: 35px;
}

p{
    color: blue;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
/* deel 2: achtergronden */


/* deel 3: lettertypes */


/* deel 4: tekstopmaak */


/* deel 5: schaduwen */
